@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    background-color: #141414;
    color: white;

}

.main
{
    font-family: 'JetBrains Mono', monospace;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}