@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    /* background-color: #141414; */
    background-color: #111111;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

.box {
    z-index: 10;
    height: 700px;
    width: 900px;
    border-radius: 20px;
    /* box-shadow: 0 0 10px #29292983; */
    text-align: center;
    color: #FFFFFF;
    background-color: #141414;

}

.content h2 {
    background-color: transparent;
}

.content p {
    background-color: transparent;
}

.header {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    margin-top: 20px;
    background-color: transparent;
}

.content {
    background-color: transparent;
}

.content h2 {
    text-align: left;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 25;
    background-color: transparent;
}

.content p {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 20;
    background-color: transparent;
}

/* i was tired so i centered it and styled it lazy way ok? but it works */

.footer-links {
    /* make "a" on bottom of the box */
    position: absolute;
    bottom: 0;
    margin-bottom: 145px;
    background-color: #141414;
    margin-left: 300px;
    align-items: center;

}

.footer-links a{
    background-color: #141414;
}

.footer-links h2{
    background-color: #141414;
}

.footer-subpages a{
    background-color: #141414;
}

.footer-subpages h2{
    background-color: #141414;
}

.footer-subpages {
    align-items: center;
    margin-left: 215px;
    position: absolute;
    bottom: 0;
    margin-bottom: 145px;
    background-color: #141414;

}

.image {
    object-fit: contain;
    max-width: 50%;
    height: auto;
    border-radius: 7px;
    margin-left: 190px;
    margin-top: 20px;
}
